Repository chartjs/Chart.js, pull requests merged in 2023-07, with the labels that each got.

#11383 fix: add pointStyleWidth to type definitions
  src/types/index.d.ts
Labels: type: types

#11187 Split the TimeScaleOptions type into composable sub types
  src/types/index.d.ts
Labels: type: types

#11388 Fix time series scale to have each data point is spread equidistant
  src/scales/scale.time.js
  src/scales/scale.timeseries.js
  test/fixtures/scale.timeseries/data-timestamps.js
  test/fixtures/scale.timeseries/data-timestamps.png
  test/fixtures/scale.timeseries/financial-daily.js
  test/fixtures/scale.timeseries/financial-daily.png
  test/fixtures/scale.timeseries/source-auto.png
  test/fixtures/scale.timeseries/source-data-offset-min-max.png
Labels: type: bug

#11377 Fix curve path if scale limits are set for line chart
  src/controllers/controller.line.js
  src/helpers/helpers.extras.ts
  test/fixtures/controller.line/cubicInterpolationMode/scaleMInMaxLimits.js
  test/fixtures/controller.line/cubicInterpolationMode/scaleMInMaxLimits.png
  test/fixtures/controller.line/cubicInterpolationMode/scaleMaxLimit.js
  test/fixtures/controller.line/cubicInterpolationMode/scaleMaxLimit.png
Labels: type: bug

#11403 Add missing feature for disabling plugins in TyeScript
  docs/developers/plugins.md
  src/types/index.d.ts
  test/types/defaults.ts
  test/types/overrides.ts
  test/types/plugins/defaults.ts
  test/types/plugins/disable.ts
  test/types/plugins/plugin.tooltip/tooltip_parsed_data_chart_defaults.ts
Labels: type: types

#11419 Updates to scale type definitions
  src/scales/scale.time.js
  src/types/index.d.ts
Labels: type: types

#11423 Bump 4.3.2
  package.json
Labels: type: chore
